{% extends 'base.html.twig' %}

{% block title %}Powy - Le pouvoir de transmettre{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<section class="section-1-rgpd">
  <h2>Données personnelles (RGPD)</h2>
  <div class="rgpd">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Donec suscipit dapibus tempor. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos.
  Proin orci dui, fermentum vitae aliquam nec, eleifend eu risus.
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia curae; Proin laoreet erat eros, eu ultrices mauris
  consequat ut. Suspendisse potenti. Aenean id risus felis. Vivamus
  gravida est eu augue feugiat luctus. Etiam sodales suscipit odio
  quis faucibus.

  Quisque tincidunt feugiat turpis, sollicitudin pharetra quam
  lobortis ac. Maecenas bibendum, sapien eget tempor tempus, tellus
  libero rhoncus felis, in semper risus nisl quis ante. Donec pellentesque
  nulla non eros tempor mattis. Aliquam ultrices, sapien blandit interdum
  faucibus, nisi dolor aliquam risus, nec tincidunt libero mi et arcu. Sed
  consequat scelerisque leo vel tincidunt. Aliquam vestibulum libero eu ex
  hendrerit suscipit. Duis et turpis ultricies, accumsan mi at, dignissim
  lectus.
  </div>
</section>
<section class="section-2-rgpd">
  <h3> Titre </h3>
  <div class="rgpd">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
  <h3> Titre </h3>
<div class="grid-rgpd">
  <div class="card1">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card2">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card3">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card4">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>
</div>
<div class="accordion-question">
<h3> Titre </h3>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
         <strong>Question ?</strong>
      </button>
    </h2>
    <div id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong>
        It is shown by default, until the collapse plugin adds
        the appropriate classes that we use to style each element.
         These classes control the overall appearance, as well as
        the showing and hiding via CSS transitions. You can modify
        any of this with custom CSS or overriding our default variables.
        It's also worth noting that just about any HTML can go within the,
        though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
        <strong>Question ?</strong>
      </button>
    </h2>
    <div id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong>
        It is hidden by default, until the collapse plugin adds
         the appropriate classes that we use to style each element.
        These classes control the overall appearance, as well as
        the showing and hiding via CSS transitions. You can modify
        any of this with custom CSS or overriding our default variables.
        It's also worth noting that just about any HTML can go within the,
        though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree">
        <strong>Question ?</strong>
      </button>
    </h2>
    <div id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong>
        It is hidden by default, until the collapse plugin adds
        the appropriate classes that we use to style each element.
        These classes control the overall appearance, as well as the
        showing and hiding via CSS transitions. You can modify any of
        this with custom CSS or overriding our default variables. It's
        also worth noting that just about any HTML can go within the,
        though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
</div>
<section class="section-3-rgpd">
  <h3> Titre </h3>
  <div class="rgpd">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
<section class="section-4-rgpd">
  <h3> Titre </h3>
  <div class="rgpd-end">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
{% endblock %}