{% extends 'base.html.twig' %}

{% block title %}Powy - Le pouvoir de transmettre{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<section class="powy-enter">
    <h1>Bienvenue sur Powy</h1>
    <div class="infos-btn">
        <a href="{{ path("app_register") }}">Étudiant &#x1F525;</a>
        <a href="/">Mentor &#x1F48E;</a>
    </div>
    <div class="people-background"></div>
</section>
<section class="presentation-index">
    <h2>Présentation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
do eiusmod tempor ncididunt ut labore et dolore magna aliqua
et dolore magna aliqua.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor ncididunt ut labore et dolore magna aliquaet dolore magna aliqua.</p>
    <a href="/" class="inscription-btn">Je m'inscris</a>
</section>
<section class="faq-index">
    <h2>F.A.Q.</h2>
    {% include 'components/_faq.html.twig' %}
</section>
{% include 'components/_footer.html.twig' %}
{% endblock %}