{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<section class="faq-index">
    {% include 'components/_faq.html.twig' %}
</section>
{% endblock %}