<h1>Bonjour, veuillez confirmer votre adresse e-mail !</h1>

<p>
    Veuillez confirmer votre adresse électronique en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans 1 heure.
</p>

<p>
    Félicitation!
</p>
