{% extends 'base.html.twig' %}

{% block title %}Inscription mentor{% endblock %}

{% block body %}
    {% include "components/_header.html.twig" %}
    {% include "components/_flashmessages.html.twig" %}
    <h1>Formulaire d'inscription étudiant</h1>
{% endblock %}