.admin-btn {
    align-items: center;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 3em;
    justify-content: center;
    text-decoration: none;
    width: 13em;
    padding: 0.5rem;
    border: none;
    margin-bottom: 2rem;
}

.edit {
    width: 2rem;
}
