.section-1-cgu {
    padding-top: 5rem;
}

.grid-cgu {
    padding:2em;
    background-color:white;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1em 1em; 
}

.card1 {
    padding: 1rem;
    background-color:$light-background-primary ;
    text-align:center;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

.card2 {
    padding: 1rem;
    background-color:$light-background-primary ;
    text-align:center;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

.card3 {
    padding: 1rem;
    background-color:$light-background-primary ;
    text-align:center;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

.card4 {
    padding: 1rem;
    background-color:$light-background-primary ;
    text-align:center;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

h2 {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
}

h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

h4 {
    font-weight: bolder;
}

.cgu {
    padding: 2rem;
}
.cgu-end {
    padding-bottom:2.5rem;
}

@media screen and (min-width: 768px) {
    .powy-enter {
        gap: 5em;
        height: 600px;

        h1 {
            font-size: 2rem;
        }

        .infos-btn {
            flex-direction: row;
            gap: 5em;

            a {
                width: 15em;
            }
        }

        .people-background {
            height: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .powy-enter {

        h1 {
            font-size: 3rem;
       }
   }
}