.charter {
    padding:2em;
    background-color:white;
    display: flex;
    flex-direction: column;
}

.card1 {
    margin: 1rem;
}

.card2 {
    margin: 1rem;
}

.card3 {
    margin: 1rem;
}

.card4 {
    margin: 1rem;
}

h4 {
    font-weight: bolder;
}
