.accordion {
    color: $dark-background;
}

.accordion-header {
    font-family:$font-text;
    background-color: white;
}

#collapseOne {
    font-family: $font-text;
    background-color: $light-background-primary;
}

.accordion-button {
    font-family:$font-text!important;
    background-color: white!important;
    color:$dark-background!important;

}

.accordion-button::after {
    color:$dark-background!important;
}

.accordion-button:not(.collapsed) {
    color: $dark-background!important;
}