.header-index {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            font-size: .8rem;
            margin: 0;
        }

        a {
            color: $dark-background;
            text-decoration: none;

            h1 {
                font-size: 1.3rem;
                margin: 0;
            }
        }
    }

    .connexion-btn {

        a {
            align-items: center;
            color: $dark-background;
            display: flex;
            flex-direction: row;
            font-size: .8rem;
            text-decoration: none;
            gap: .5rem;

            img {
                width: 25px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header-index {
        .logo {

            a {
                
                h1 {
                    font-size: 1.6rem;
                }
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}
