.mentor-banner {
    background-color: $light-background-primary;
    width: 100%;
    

    .mentor-presentation {
        text-align: justify;
        align-items: center;
        font-size: 1rem;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }

        p {
            margin-left: 20rem;
            margin-right: 20rem;
        }

        a {
            align-items: center;
            text-align: center;
            background-color: $dark-background;
            border-radius: 10px;
            color: $white;
            display: flex;
            height: 3em;
            justify-content: center;
            text-decoration: none;
            width: 10em;
            margin-bottom: 4rem;

            &:hover, &:focus {
                box-shadow: 0 2px 4px $dark-background;
            }
        }
    }
}

.mentor-howto {
    
    h2 {
        font-size: 1.5rem;
    }
}