.container-profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 2rem;
    margin-bottom: 3rem;
    height: 100%;

    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .card-picture-profile {
        align-items: center;
        border: 2px $dark-background dotted;
        border-radius: 5px;
        color: $dark-background;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: space-around;
        margin: 2em 0 2em 0;
        width: 15em;
        height: 10em;
    }

    .card-edit-profile, .card-edit-password{
        background-color: $light-background-secondary;
        border: 0.1px solid lightgray;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        display: flex;
        height: auto;
        justify-content: center;
        width: 20em;
        padding: 1em;

        .input {
            background-color: $white;
            border-radius: 5px;
            width: 15em;
            padding: 0.2em;
        }
    }

    .profil-upload{
        display: flex;
        justify-content: center;
    }

    .card-edit-profile-part2{
        margin-bottom: 2rem;
    }

    .password-fields-profile{
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container-profile {

        .card-edit-profile, .card-edit-password {
            width: 70em;

            .card-edit-profile-part1, .card-edit-profile-part2 {
                display: flex;
                justify-content: space-around;
            }

            .password-fields-profile {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
            }

            .field {
                padding: 1.5em;
            }
        }
    }
}