.center{
    text-align: center;
}

.card-profile{
    display: flex;
    border: none;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
}

.card-body-profile{
    width: 30rem;
    height: 10rem;
    background-color: $light-background-primary;
    border-radius: 1rem;
    border: 1px black solid;
}

.title-card-profile{
    font-weight: bold;
    margin: 1rem;
}

.card-information-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-profile{
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.phone-profile{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.container-btn-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-profile a{
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    height: 3em;
    justify-content: center;
    text-decoration: none;
    width: 15em;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.red{
    color: $alert;
    font-weight: bold;
}

.img-profile{
    margin: 1rem;
}

.img-profile img{
    background-color: $middle-background;
    border-radius: 100%;
    border: 1px black solid;

}

@media screen and (min-width: 1024px) {
    .container-btn-profile{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    
}