@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font-text: 'Montserrat', sans-serif;
$light-background-primary: #fce9d4;
$light-background-secondary: #fce2d2;
$middle-background: #ffba8b;
$dark-background: #1c1c1c;
$alert: #e03d3d;
$white: #fff;
