<div style="text-align: center; margin-top: 2rem;">
    <h1>Mot de passe oublié</h1>

    <p>Afin d'enregistrer un nouveau mot de passe, je t'invite à cliquer sur le lien suivant :</p>
    <a href="{{ signedUrl }}">Changer mon mot de passe</a>
    <p><strong>Attention, ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</strong></p>
    <br>
    <p>À bientôt sur Powy!</p>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>