<div style="text-align: center; margin-top: 2rem;">
    <h1>Suppression du compte</h1>
    <p>Nous avons bien enregistré la suppression du compte pour l'adresse {{ user.email }}</p>
    <br>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>