<div style="text-align: center; margin-top: 2rem;">
    <h1>Fin du mentorat</h1>
    <p>Ton mentorat est arrivé à sa fin</p>
    <br>
    <p>Un nouveau mentorat te sera proposé dès que possible.</p>
    <br>
    <p>Consulte ton profil régulièrement pour découvrir la prochaine personne proposée.</p>
    <br>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>