<div style="text-align: center; margin-top: 2rem;">
    <h1>Le mentorat vient d'être lancé !</h1>
    <p>Tu peux dès à présent discuter avec ton interlocuteur.trice en te connectant sur ton <a href="{{ url('login') }}">profil</a></p>
    <br>
    <p>À bientôt sur Powy!</p>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>
