<div style="text-align: center; margin-top: 2rem;">
    <h1>Un match à été trouvé !</h1>
    <p>Vous pouvez <a href="{{ url('mentoring_accepted') }}">accepter</a> ou <a href="{{ path('mentoring_refused') }}">refuser</a> cette proposition.</p>
    <p>Si vous acceptez, vous pourrez commencer la discussion avec votre mentor, depuis votre profil en ligne.</p>
    <p>En cas de refus, nous vous proposerons un autre mentor dès que possible.</p>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>