<div style="text-align: center; margin-top: 2rem;">
    <h1>Le mentorat vient d'être lancé !</h1>
    <p>Vous pouvez dès à présent discuter avec votre interlocuteur.trice en vous connectant sur votre <a href="{{ url('login') }}">profil</a></p>
    <br>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>
