<div style="text-align: center; margin-top: 2rem;">
    <h1>Modifications enregistrées !</h1>
    <p>Nous avons bien pris en compte ton nouveau mot de passe, {{ user.email }} !</p>
    <p>Tu peux maintenant te connecter sur Powy afin d'utiliser les services du site.</p>
    <br>
    <p>À bientôt sur Powy!</p>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>