{% extends 'base.html.twig' %}

{% block title %}Powy - Le pouvoir de transmettre{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<section class="section-1-cgu">
  <h2>Conditions générales d'utilisation (CGU)</h2>
  <div class="cgu">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Donec suscipit dapibus tempor. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos.
  Proin orci dui, fermentum vitae aliquam nec, eleifend eu risus.
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia curae; Proin laoreet erat eros, eu ultrices mauris
  consequat ut. Suspendisse potenti. Aenean id risus felis. Vivamus
  gravida est eu augue feugiat luctus. Etiam sodales suscipit odio
  quis faucibus.

  Quisque tincidunt feugiat turpis, sollicitudin pharetra quam
  lobortis ac. Maecenas bibendum, sapien eget tempor tempus, tellus
  libero rhoncus felis, in semper risus nisl quis ante. Donec pellentesque
  nulla non eros tempor mattis. Aliquam ultrices, sapien blandit interdum
  faucibus, nisi dolor aliquam risus, nec tincidunt libero mi et arcu. Sed
  consequat scelerisque leo vel tincidunt. Aliquam vestibulum libero eu ex
  hendrerit suscipit. Duis et turpis ultricies, accumsan mi at, dignissim
  lectus.
  </div>
</section>
<section class="section-2-cgu">
  <h3> Titre </h3>
  <div class="cgu">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
  <h3> Titre </h3>
<div class="grid-rgpd">
  <div class="card1">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card2">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card3">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card4">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>
</div>
<section class="section-3-cgu">
  <h3> Titre </h3>
  <div class="cgu">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
<section class="section-4-cgu">
  <h3> Titre </h3>
  <div class="cgu-end">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
  dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
  aliquam nec, eleifend eu risus. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Proin laoreet erat eros,
  eu ultrices mauris consequat ut. Suspendisse potenti. Aenean id risus felis.
  Vivamus gravida est eu augue feugiat luctus. Etiam sodales suscipit odio quis
  faucibus.
  </div>
</section>
{% endblock %}