<div class="accordion" id="accordionExample">
    <h2 id="headingOne">
      <button class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
         <strong>1. Est-ce que le mentorat est gratuit ?</strong>
      </button>
    </h2>
    <div id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>À aucun moment l'accompagnement sera payant</strong>, c'est 100% gratuit et pour toujours.
         Les mentors agissent en tant que professionnels et bénévoles et n'ont pas le droit de demander de
         rémunération de quelques sortes.
      </div>
    </div>
  </div>
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
        <strong>2. Le mentorat s'effectue à distance ?</strong>
      </button>
    </h2>
    <div id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        L'inscription, la mise en relation et le suivi s'effectue sur notre plateforme mais vous êtes
         libre de vous organiser de la façon la plus agréable et la plus pratique pour chacun. Cependant,
         en période de crise sanitaire nous déconseillons aux binômes de se rencontrer en présentiel mais
         nous espérons que la situation s’améliorera très bientôt !
      </div>
    </div>
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree">
        <strong>3. Combien de temps cela dure ?</strong>
      </button>
    </h2>
    <div id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le mentorat est effectif sur notre plateforme pour <strong>une durée de 4 mois</strong> pour avoir
         le temps de mettre en place une avancée concrète sur les défis. Rien n'empêche cependant, si le binôme
         fonctionne bien, de t'engager sur une plus longue période en dehors de notre plateforme.
      </div>
    </div>
    <!-- -->
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour">
        <strong>4. A partir de quel âge je peux m'inscrire ?</strong>
      </button>
    </h2>
    <div id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Notre plateforme est accessible à partir de 18 ans. Si tu es intéressé par celle-ci, mais que tu n'as
        pas encore l'âge requis, n'hésites pas à nous envoyer un e-mail et nous te recontacterons le moment venu.
      </div>
    </div>
</div>
