<header class="header-index">
    <div class="logo">
        <h1>Powy</h1>
        <a href="{{ path("home") }}"><h1>Powy</h1></a>
        <p>Le pouvoir de transmettre</p>
    </div>
    <div class="connexion-btn">
        <a href="/"><img src="{{ asset('build/images/silhouette-connexion.png') }}" alt="connexion">Mon compte</a>
    </div>
</header>
