{% extends 'base.html.twig' %}

{% block title %}Powy - Le pouvoir de transmettre{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<section class="section-1-charter">
  <h2>Charte d'engagement bénévole </h2>
</section>
<div class="charter">
  <div class="card1">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card2">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card3">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>

  <div class="card4">
      <h4> Titre </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
      dapibus tempor. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Proin orci dui, fermentum vitae
      aliquam nec, eleifend eu risus. </p>
  </div>
</div>
{% endblock %}